<ion-card *ngIf="item">
  <ion-card-header>
    <div>
      <img [src]="item.photo" alt="" onError="src = 'https://picsum.photos/id/1/500/500'">
    </div>
  </ion-card-header>
  <ion-card-content>{{ item.text }}</ion-card-content>
</ion-card>