<ion-header>
  <ion-toolbar>
    <ion-title>Lista imágenes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-searchbar placeholder="ID/Texto" [(ngModel)]="filtroText" (ionChange)="filter()"></ion-searchbar>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let item of items">
      <app-imagen [item]=item></app-imagen>
    </ion-item>
    <ion-label *ngIf="items.length <= 0 || !items">
      <div class="ion-text-center">No existe coincidencia</div>
    </ion-label>
  </ion-list>

  <ion-infinite-scroll threshold="150px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>